{% extends 'base.html' %}

{% block title %}
ReceiptList
{% endblock title%}

{% block content%}
<main>
    <h1>Expense Category</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expense_list %}
            <tr>
                <td>{{expense.name}}</td>
                <td>{{expense.receipts_count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content%}